<app-global-error/>

<div class="max-w-2xl container mx-auto pt-5">
    <h1 class="font-bold text-center">{{ title | titlecase }}</h1>

    <input
            type="text"
            class="mb-2 border py-2 px-4 w-full"
            placeholder="Filter products..."
            [(ngModel)]="term"
    >

    <p *ngIf="loading" class="text-center text-lg">Loading...</p>

    <div *ngIf="productsService.products">
        <app-product
                *ngFor="let product of productsService.products | filterProducts: term; let i = index"
                [product]="product"
        />
    </div>

    <button
            class="rounded-full bg-green-700 text-white fixed right-5 bottom-5 py-2 px-4"
            (click)="modalService.open()"
    >+
    </button>

    <app-modal *ngIf="modalService.isVisible$ | async" title="Create new product">
        <app-create-product/>
    </app-modal>
</div>
